@model MVCClinica.Models.Medico
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Medico Edit</h2>
    <p>Are you sure you want to edit this Medico?</p>

    @using (Html.BeginForm("Edit", "Medico", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <div>
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div>
            @Html.LabelFor(model => model.Apellido)
            @Html.EditorFor(model => model.Apellido)
            @Html.ValidationMessageFor(model => model.Apellido)
        </div>
        <div>
            @Html.LabelFor(model => model.Especialidad)
            @Html.EditorFor(model => model.Especialidad)
            @Html.ValidationMessageFor(model => model.Especialidad)
        </div>
        <div>
            @Html.LabelFor(model => model.NroMatricula)
            @Html.EditorFor(model => model.NroMatricula)
            @Html.ValidationMessageFor(model => model.NroMatricula)
        </div>
        <p>
            <input type="submit" value="Edit" />
        </p>
    }
    @Html.ActionLink("Back to List", "Index", "Medico")
</body>
</html>
