@model IEnumerable<OperaWebSite.Models.Opera>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create", "Opera")
    </p>

    <table>

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Composer)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>

            <th>
                Details <!-- Este es el nombre del link para ir a la vista details -->
            </th>
            <th>
                Delete <!-- Este es el nombre del link para ir a la vista delete -->
            </th>
            <th>
                Modify <!-- Este es el nombre del link para ir a la vista delete -->
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.Composer)</td>
        <td>@Html.DisplayFor(modelItem => item.Year)</td>

        <!-- Esto muestra un link para ir a la vista details -->
        <td>@Html.ActionLink("Detail", "Detail", new { id = item.OperaId })</td>

        <!-- Esto muestra un link para ir a la vista delete -->
        <td>@Html.ActionLink("Delete", "Delete", new { id = item.OperaId })</td>

        <!-- Esto muestra un link para ir a la vista modify -->
        <td>@Html.ActionLink("Modify", "Edit", new { id = item.OperaId })</td>
        <td>@Html.ActionLink()

    </tr>
        }
    </table>


</body>

</html>

