@model IEnumerable<WebElReyCan.Models.Turno>
@{ ViewBag.Title = "Turnos | Peluquería canina"; }
<link href="~/Content/table.css" rel="stylesheet" />

<div id="tableContainer">
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Hora)</th>
            <th>@Html.DisplayNameFor(model => model.NombreMascota)</th>
            <th>@Html.DisplayNameFor(model => model.Raza)</th>
            <th>@Html.DisplayNameFor(model => model.Edad)</th>
            <th>@Html.DisplayNameFor(model => model.NombreDuenio)</th>
            <th>@Html.DisplayNameFor(model => model.Celular)</th>
        </tr>

        @foreach (var item in Model)
        {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
    <td>@Html.DisplayFor(modelItem => item.NombreMascota)</td>
    <td>@Html.DisplayFor(modelItem => item.Raza)</td>
    <td>@Html.DisplayFor(modelItem => item.Edad)</td>
    <td>@Html.DisplayFor(modelItem => item.NombreDuenio)</td>
    <td>@Html.DisplayFor(modelItem => item.Celular)</td>
</tr>}
